@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-4xl mx-auto;
}

.example {
  @apply text-center;
}

.iframe {
  border-radius: 4px;
  border: 0;
  height: 500px;
  overflow: hidden;
  width: 100%;
}

.example-content {
  @apply max-w-2xl mx-auto text-center;
}
